<launch>
	<!-- parameter -->
	<arg name="read_rosbag_path" default="$(env HOME)/rosbag/test.bag"/>

	<!-- main -->
	<node pkg="pc_plotter" type="pc_plotter" name="pc_plotter" output="screen">
		<param name="read_rosbag_path" type="string" value="$(arg read_rosbag_path)"/>
		<param name="interval_sec" type="double" value="10"/>
		<param name="num_show" type="int" value="3"/>
	</node>
</launch>